# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\gabep\PycharmProjects\surrealpy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/surrealpy.iml
/.idea/vcs.xml
/.idea/workspace.xml
